
header {
    background-color: #4cae4700;
    position: absolute;
}

.img-background {
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 100%;
    z-index: -1;
}




.hero-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100vh; /* Ajuste a altura conforme necessário */
    background-color: #09241061;
}
.hero-section h1 {
    font-size: 3rem;
    width: 40%;
    text-align: left;
    margin-bottom: 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 10%;
}
.hero-section p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    width: 40%;
    color: white;
    font-weight: 200;
    text-align: left;
    margin-left: 10%;
}

.carouselExampleIndicators {
    width: 50%; /* A imagem ocupa a metade da largura da tela */
    height: 90vh; /* A imagem ocupa 90% da altura da tela */
    object-fit: cover; /* Faz com que a imagem cubra a área sem distorcer */
}



.features-section {
    background-color: #4DAE47; /* Cor de fundo clara */
    padding: 20px 0;
    display: flex;
}

.feature-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.feature-item h3 {
    margin: 0;
    color: white;
    font-size: 16pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.row-features {
    display: flex;
    align-items: center;
    justify-content: center;
}

.folha {
    width: 30px;
    height: 30px;
}

.modelos-section {
    width: 100%;
    height: 100vh;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modelos-section .left-modelos {
    width: 55%;
    padding: 40px;
    padding-left: 5%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.modelos-section span {
    font-size: 1rem;
    font-weight: 500;
}

.modelos-section h3 {
    font-size: 3rem;
}

.modelos-section h3 b {
    color: #4DAE47;
}

.modelos-section p {
    font-size: 1.3rem;
    font-weight: 300;
}

.modelos-section a {
    width: 40%;
    border: none;
    color: #4DAE47;
    border-bottom: 3px solid #4DAE47;
    background: none;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 400;
    transition: all 0.25s;
    text-align: center;
}

.modelos-section a:hover {
    cursor: pointer;
    opacity: 70%;
}

.modelos-section .right-modelos {
    width: 40%;
    height: 100%;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    overflow: hidden; /* Evita que as imagens ultrapassem a altura da seção */
}

.right-modelos .carousel-inner {
    height: 100%; /* Garante que o carrossel ocupe toda a altura da seção */
}

.right-modelos .carousel-item {
    height: 100%; /* Garante que cada item do carrossel ocupe toda a altura disponível */
}

.right-modelos .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: fill; /* Ajusta a imagem para cobrir o container sem deformar */
}




.escolha-section {
    width: 100%;
    height: 110vh;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.escolha-section h2 {
    margin-left: 20%;
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: 40px;
}

.items {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.item {
    width: 30%;
    height: 80%;
    transition: all 0.25s;
}

.item:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.item img {
    width: 100%;
    height: 100%;
}

.title-item {
    margin-top: 15px;
    margin-bottom: 0px;
}

.valor-item {
    margin: 0;
    padding: 0;
    font-size: 15pt;
}