/* Define a altura do body como 100% da viewport */
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* O main deve preencher a altura restante da tela */
main {
    padding: 2%;
    flex: 1; /* Faz o main ocupar o espaço restante */
    display: flex;
    align-items: stretch; /* Garante que o main use a altura total disponível */
}

/* Ajusta a altura do footer */
footer {
    height: 20%;
}

/* Ajusta a altura mínima das colunas para preencher a altura da tela */
.col-md-4, .col-md-8 {
    height: 100%;
    display: flex;
    flex-direction: column; /* Garante que o conteúdo interno se ajuste verticalmente */
}

.col-md-4 img{
    width: 80%;
}

/* Adiciona altura total ao contêiner-fluid */
.container-fluid {
    height: 100%;
    padding: 0;
}

/* Remove o padding horizontal do row */
.row {
    margin-left: 0;
    margin-right: 0;
}

.container-content{
    height: 100%;
}

/* Ajuste no texto e listas */
ul {
    font-size: 1.1rem;
    padding-left: 0;
}

/* Ajusta a largura do parágrafo no container-title */
.container-title p {
    width: 80%; /* Garante que o parágrafo esteja centralizado */
    font-size: 1.2rem;
}

/* Ajusta o comportamento das colunas no contêiner */
.container-title-title, .container-details-title {
    gap: 2%;
}

.square {
    width: 12px;
    height: 12px;
    background-color: rgba(77, 174, 71, 1);
}


.input-tamanho{
    width: fit-content;
}



/* 
// Small devices (landscape phones, 576px and up) */
@media (max-width: 860px) { 

    footer {
        display: none;
    }

    .square{
        display: none;
    }

    .container-title{
        text-align: center;
    }

    .row{
        flex-wrap: nowrap;
    }
    
    
    .container-fluid, .container-content {
        flex: 1;
    }

    .input-tamanho{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-btn{
        width: 100%;
    }

    .btn-cart{
        width: 100%;
    }

    .col{
        text-align: center;
    }

    .container-content{
        text-align: center;
    }

    .container-content{
        display: flex ;
        flex-direction: column;
        align-items: center;
        padding: 5%;
    }

    .container-title-title{
        text-align: center;
        justify-content: center;
        gap: 0;
    }
    
    .container-title-title .col {
        width: fit-content ;
    }

    .container-title-title .col h1{
        width: fit-content;
    }

    .container-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-details-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


 }

