.underline {
    text-decoration: underline;
}

.container-1 {
    width: 100%;
    height: 25vh; 
    background-color: #DEDEDE; 
    color: #111111; 
    padding: 20px;
    box-sizing: border-box; 
}

.container-1 h2 {
    position: absolute;
    left: 10%; 
    top: 13%; 
    margin: 0;
}

.container-1 h1 {
    position: absolute;
    left: 10%; 
    top: 16%; 
    margin: 0;
}

.container-1 h1 {
    font-size: 64px; 
            font-weight: 700;
}

.container-1 h2 {
    font-size: 24px; 
            font-weight: 500;
}

.product {
    position: absolute;
    top: 428px; /* Distância do topo */
    left: 363px; /* Distância da borda esquerda */
    display: flex;
    align-items: center;
}

.product img {
    width: 400px; /* Ajuste conforme necessário */
    height: auto;
    margin-right: 57px; /* Espaço entre a imagem e o texto */
}

.product-info {
    max-width: 445px; /* Ajuste a largura máxima do texto conforme necessário */
}

.product-info h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0;
    color: #111111;
}

.product-info p {
    font-size: 18px;
    color: #555555;
    margin: 15px 0;
}

.product-price {
    margin-top: 96px; 
    font-size: 30px; 
    color: #155627; 
    font-weight: 600; 
}

.product-price {
    margin-top: 96px; 
    font-size: 30px; 
    color: #155627; 
    font-weight: 600; 
    display: flex; 
    align-items: center; 
}

.product-price .buy-button {
    margin-left: 131px; 
    padding: 10px 20px; 
    font-size: 16px; 
    background-color: #155627; 
    color: white; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    border-radius: 5px;
}

.product-price .buy-button:hover {
    background-color: #0d3f1b; 
}